

/*--------------------INDEX PAGE --------------*/

body{
  margin-top: 15px;
  background-color: rgb(146, 227, 163);
}
h1{
  font-size: 100px;
 font-weight: bold;
 text-align: center;
  color:rgba(17, 91, 37, 0.8);
}

.content{
  margin-left: 25px;
}

.indexContainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1.25em solid whitesmoke;
  border-radius: 1em;
  color: var(--glow-color);
  --glow-color: rgba(61, 156, 30, 0.8);
    --glow-spread-color:rgba(17, 91, 37, 0.8);
    --enhanced-glow-color: rgba(81, 205, 56, 0.8);
  height: 634px;
  box-shadow: inset 0px 0px 40px 40px  rgba(81, 205, 56, 0.8);
  background: rgb(21,139,21);
  background: radial-gradient(circle, rgba(21,139,21,0.8244058098591549) 0%, rgba(21,62,10,1) 100%);
 
}

.indexH1{
  color: whitesmoke;
  text-align: center;
  font-size: 56px;
}
.btn, .loginBtn, .profileButton{
    --glow-color: rgba(61, 156, 30, 0.8);
    --glow-spread-color:rgba(17, 91, 37, 0.8);
    --enhanced-glow-color: rgba(81, 205, 56, 0.8);
    --btn-color:rgba(17, 91, 37, 0.8);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
   /*--------------------login PAGE --------------*/
   .loginBody{
    background-color: #212121;
   }
   .h1Login{
     color: whitesmoke;
     background-color:  rgba(17, 91, 37, 0.8);
     border: .45em solid  rgba(81, 205, 56, 0.8);
     border-radius: 5%;
     text-align: center;
   }
   hr{   
     color: rgba(81, 205, 56, 0.8);
    }
label{
  color:  rgba(81, 205, 56, 0.8);
  font-size: 20px;
}
.loginForm{
  background-color: rgba(17, 91, 37, 0.8);
  height:271px;
  border: 1.25em solid  rgba(81, 205, 56, 0.8);
  width: 54%;
    margin-left: auto;
    margin-right: auto;
  
}

.btnLog{
  margin-left: 240px;
}
.form-control{
  border: 1.25em solid rgba(17, 91, 37, 0.8);
  border: 3px solid rgba(17, 91, 37, 0.8);;
  margin-left: auto;
  width: 80%;
  margin-right: auto;
}
.form-group{
  color:rgba(17, 91, 37, 0.8);
}

 .loginP{
   color: whitesmoke;
 }
 .loginA{
   color: rgba(17, 91, 37, 0.8);;
   text-decoration: underline;

 }
 /*--------------------PROFILE PAGE --------------*/
 .profileBody{
  background-color: #4db6ac;
  color: #fff;
 }
 .proImg{
  width: 100%;
  height: 300px;

 }
 .probtn{
  margin-left: 1068px;
 }

.profileContainer{
  background-color:rgba(17, 91, 37, 0.8);
  border: 1.25em solid  rgba(81, 205, 56, 0.8);
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  height: 550px;
}
.proH1{
font-size: 50px;
}
.proH2{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(81, 205, 56, 0.8); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(81, 205, 56, 0.8); }
  }


.profileDiv{
  display: none;
}

li{
  list-style-type: none;
  color: whitesmoke;
  font-size: 25px;
}
.proText{
  color:rgba(17, 91, 37, 0.8);
}
.profileA{
  text-decoration: underline;
}
.profileH3{
  font-size: 40px;
}
.listDisplay{
  text-align: center;
}
.input{
  text-align: center;
}
.inputForm{
  width: 50%;
  height: 65px;
  margin-top: 15px;
  border: 1em solid rgba(17, 91, 37, 0.8);
}

.col-sm-6 {
    font-size: 15px;
  
}
i{
  color: whitesmoke;
}
.row{
  width: 97%;
 
}

a{
  color:  rgba(81, 205, 56, 0.8);
}
.fa-plus-square{
  background-color:rgba(17, 91, 37, 0.8);
  color: white;
}
.budget{
  color:rgba(81, 205, 56, 0.8);
}
iframe{
  margin-top: 50px;
  width: 60%;
  height: 400px;
}
.loginBtn{
  margin-left: 212px;
 
}
.btn{

}

